@font-face {
    font-family: spotify-bold;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Bold.woff2);
}
@font-face {
    font-family: spotify-medium;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Black.woff2);
}
@font-face {
    font-family: spotify-light;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Book.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
nav{
    background: #000;
}
.nav-bar{
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo{
    height: 27px;
    width: 89px;
}
.banner-section{
    background: url('./assets/bubbles-mobile.svg') center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);;
    height: 425px;
    padding: 80px 15px 70px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 450px;
    overflow: hidden;
}
.banner-width{
    max-width: 1170px;
}
.banner-content{
    color: white;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: -1.92px;
    padding-bottom: 32px;
    box-sizing: border-box;
    font-family: spotify-medium;

}   
button{
    padding: 14px 32px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-family: spotify-bold;
}
.feature-section{
    padding: 35px 15px;    
}
.heading{
    text-align: center;
    font-size: 28px;
    margin-bottom: 32px;
    line-height: 32px;
    font-family: spotify-medium;
}
.feature{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}
.feature-img{
    aspect-ratio: 1;
    width: 30%;
    max-width: 115.83px;
    height: auto;
    margin-right: 20px;
}
.feature-info{
    padding: 16px 0;
    width: 63%;
}
.feature-heading{
    font-size: 21px ;
    margin-bottom: 10px;
    line-height: 23px;
    font-family: spotify-bold;
}
.feature-content{
    font-size: 16px;
    font-family: spotify-light;

}