@font-face {
    font-family: spotify-bold;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Bold.woff2);
}
@font-face {
    font-family: spotify-medium;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Black.woff2);
}
@font-face {
    font-family: spotify-light;
    src: url(./fonts/CircularSpotify-UI-Latin-OS2v3-Book.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
nav{
    background: #000;
}
.nav-bar{
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo{
    height: 27px;
    width: 89px;
}
.banner-section{
    background: url('./assets/bubbles-mobile.svg') center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);;
    height: 425px;
    padding: 80px 15px 70px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 425px;
    overflow: hidden;
}
.banner-width{
    max-width: 1170px;
}
.banner-content{
    color: white;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: -1.92px;
    padding-bottom: 32px;
    box-sizing: border-box;
    font-family: spotify-medium;

}   
button{
    padding: 14px 32px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-family: spotify-bold;
}
.feature-section{
    padding: 35px 15px;    
}
.heading{
    text-align: center;
    font-size: 28px;
    margin-bottom: 32px;
    line-height: 32px;
    font-family: spotify-medium;
}
.feature{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 20px;
    /* height: 142px */
}
.feature-img{
    aspect-ratio: 1;
    width: 30%;
    max-width: 115.83px;
    height: 30%;
    margin-right: 20px;
}
.feature-info{
    padding: 16px 0;
    width: 63%;
}
.feature-heading{
    font-size: 21px ;
    margin-bottom: 10px;
    line-height: 23px;
    font-family: spotify-bold;
}
.feature-content{
    font-size: 16px;
    font-family: spotify-light;

}
.free-img{
    background: url(/assets/bubbles-phone-mobile.svg)
                center top 16px / 506px 512px no-repeat, white;
    display: flex;                
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.mobile-screen-2{
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .3);
    border-radius: 35px 35px 0 0;
}

.glare{
    width: 100%;
    height: 78px;
    background: linear-gradient(transparent, rgb( 176, 35, 194));
    z-index: 100;
    margin-top: -75px;
}
.free-info{
    background: linear-gradient(
                rgba(176, 35,194) 15%,
                rgba(96, 11, 231));
    text-align: center;               
    padding: 80px 15px 70px; 
}
.free-content{
    color: #fff;
    font-size: 32px;
    font-family: spotify-medium;
}

.faq-section{
    padding: 35px 15px;
}

.heading{
    font-family: spotify-medium2;
}
.question-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 28px;
}

.question{
    padding-right: 10px;
    font-size: 18px;
    font-family: spotify-bold;
}
.answer{
    font-family: spotify-light;
    padding: 15px 32px 32px;
}

.active{
    background: #f0f0f0;
}

.ready-section{
    background: url("assets/lets-play.svg") center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
    padding: 112px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ready-content{
    color: #fff;
    font-size: 48px;
    margin-bottom: 32px;
    font-family: spotify-medium ;
}